@media screen and (min-width: 425px) {
    body {
        width: 78vw;
        margin: 0 auto;
    }
    
    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .logo {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    
    .logo img {
        width: 40px;
        height: 40px;
        margin: auto 0;
    }

    .btn {
        width: 25vw;
        height: 58px;
        border-radius: 8px;
        border: 0;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }
    
    #primary-btn {
        background: #E8EFF2;
        color: #162542;
    }
    
    #primary-btn:hover {
        background: #162542;
        color: #FFF;
        cursor: pointer;
    }
    
    #secondary-btn {
        background: #F16718;
        color: #FFF;
    }
    
    #secondary-btn:hover {
        background: #FF9B62;
        color: #FFF;
    }
    
    
    .banner {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    

    .main-header {
        width: 445px;
        height: 312px;
        display: flex;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
    #banner-image {
        width: 540px;
        height: 480px;
        margin: auto 0;
        background-image: url('../assets/desktop/image-keyboard.jpg');
        background-size: cover;
        border-radius: 20px;
    }

    h1 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 56px;
        text-transform: uppercase;
        color: #162542;
    }
    
    .main-header p{
        font-size: 18px;
    }
    
    p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #7B8BAD;
    }
    
    .main-header div{
        display: flex;
        justify-content: flex-start;
        column-gap: 3rem;
        align-items: center;
    }
    
    #release-date {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #7B8BAD;
    }
    
    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .phone-and-keyboard{
        width: 255px;
        height: 480px;  
        background-blend-mode: multiply;
        background-color: #F16718;
        border-radius: 20px;
        background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
        background-size: contain;
    }
    
    .image-glass-and-keyboard{
        width: 445px;
        height: 480px;
        border-radius: 20px;
        margin-left: -6rem;
        background-image: url('../assets/desktop/image-glass-and-keyboard.jpg');
        background-size: contain;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 255px;
        height: 265px;
    }
    
    h2{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        text-transform: uppercase;
        color: #162542;
    }
    
    .specs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10rem;
    }
    
    .specs span {
        width: 255px;
        height: 323px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .specs span div{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F16718;
        width: 65px;
        height: 65px;
        border-radius: 16px;
    }
    
    h3 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #162542;
    }
    
    .copyright {
        margin-top: 7rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        column-gap: 4px;
    }
    
    .copyright-right {
        font-weight: 400;
    }
    
    
    .empty {
        width: 127px;
        height: 240px;  
        background: #E8EFF2;
    }
    
    .empty-right {
        border-radius: 20px 0 0 20px;
        position: absolute;
        left: 1312px;
        top: 196px;
    
    
    }
    
    .empty-left {
        border-radius: 0 20px 20px 0;
        position: absolute;
        left: 0;
        top: 950px;
    }
}